.data-box .card-body{
    padding-top: 0px;
    
    max-height: 430px;
    overflow: auto;
}

/* Freeze header */
.data-box .card-body thead th{ 
    position: sticky; 
    top: 0;
    z-index: 100;
}

/* Loading */
.loader {
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin_loader 1s linear infinite;
    animation: spin_loader 1s linear infinite;
    position: absolute;
    left: 48%;
    top: 45%;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.2),
                0px 0px 100px rgba(0,0,0,0.5);
}
/* Safari */
@-webkit-keyframes spin_loader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin_loader {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.box_loader {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1051;
}




.alert-dismissible .close {
    padding: 6px 14px;
}
.close {
    font-size: 25px;
    font-weight: 400;
}
.alert strong{
    font-weight: 400;
}
